<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Tambah Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<div class="container-fluid">
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2>Form Tambah Pesawat</h2>
    <form th:action="@{/pesawat/tambah}" th:object="${pesawat}" method="POST">
        <input type="hidden" th:field="*{id}"/>
        <div class="form-group row">
            <label for="inputMaskapai" class="col-sm-2 col-form-label">Maskapai</label>
            <div class="col-sm-10">
                <input th:field="*{maskapai}" type="text" class="form-control" id="inputMaskapai" placeholder="Nama Maskapai">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTanggal" class="col-sm-2 col-form-label">Tanggal Dibuat</label>
            <div class="col-sm-10">
                <input th:field="*{tanggalDibuat}" type="date" class="form-control" id="inputTanggal" placeholder="dd/mm/yyyy">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTempat" class="col-sm-2 col-form-label">Tempat Dibuat</label>
            <div class="col-sm-10">
                <input th:field="*{tempatDibuat}" type="text" class="form-control" id="inputTempat" placeholder="Masukkan tempat pesawat dibuat">
            </div>
        </div>
        <div class="form-group row">
            <label for="inputJenis" class="col-sm-2 col-form-label">Jenis</label>
            <div class="col-sm-10">
                <select name="jenis" id="inputJenis" class="form-control" th:field="*{jenisPesawat}">
                    <option value="Komersial">Komersial</option>
                    <option value="Militer">Militer</option>
                </select>
            </div>
        </div>
        <div class="form-group row">
            <label for="inputTipe" class="col-sm-2 col-form-label">Tipe</label>
            <div class="col-sm-10">
                <select name="tipe" id="inputTipe" class="form-control" th:field="*{tipe}">
                    <option th:each="tipe : ${listTipe}" th:value="${tipe.id}" th:text="${tipe.nama}"></option>
                </select>
            </div>
        </div>

        <div class="form-group row" th:each="teknisi, iterationStatus : *{listTeknisi}">
            <label for="inputTeknisi" class="col-sm-2 col-form-label">Teknisi</label>
            <div class="col-sm-10">
                <select name="teknisi" id="inputTeknisi" class="form-control" th:field="*{listTeknisi[__${iterationStatus.index}__].id}">
                    <option th:each="teknisi : ${listTeknisi}" th:value="${teknisi.id}" th:text="${teknisi.nama}"></option>
                </select>
            </div>
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-link" name="addTeknisi" style="border-color: #0000ff; text-align: center">+ Tambah Teknisi</button>
        </div>
        <div class="col-sm-5">
            <button type="submit" class="btn btn-primary" name="save" style="text-align: center">Simpan</button>
        </div>
        <div class="col-sm-5">
            <a th:href="@{/pesawat}"><button type="submit" class="btn btn-light">Batal</button></a>
        </div>
    </form>
</div>
</body>
</html>