<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="col-md-6 offset-md-3">
        <h2 style="text-align: center">Detail Pesawat</h2>
        <br>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Nomor Seri Pesawat</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.nomorSeri}"></div>
        </div>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Jenis Pesawat</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.jenisPesawat}"></div>
        </div>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Nama Tipe Pesawat</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.tipe.nama}"></div>
        </div>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Maskapai</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.maskapai}"></div>
        </div>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Tempat Dibuat</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.tempatDibuat}"></div>
        </div>
        <div class="row mb-2" style="width:60%; margin: auto; text-align: start">
            <div class="col-md-6" style="font-weight: bold">Tanggal Dibuat</div>
            <div class="col-md-5 ml-auto" th:text="${pesawat.tanggalDibuat}"></div>
        </div>
        <br>
    </div>
    <div class="row">
        <div class="col">
            <h4 style="text-align: center" th:text="'Daftar Teknisi Pesawat'"></h4>
        </div>
        <div class="col">
            <h4 style="text-align: center" th:text="'Daftar Penerbangan'"></h4>
        </div>
    </div>
    <div class="row">
        <div class="col"></div>
        <div class="col">
            <form th:action="@{/pesawat/}+${pesawat.id}+@{/tambah-penerbangan}" th:object="${pesawat}" method="POST" class="form-inline">
                <div class="form-group mb-2">
                    <label for="cariNomor">Tambah Penerbangan</label>
                </div>
                <div class="form-group mx-sm-3 mb-2">
                    <select id="cariNomor" class="form-control" th:field="*{listPenerbangan[0].id}">
                        <option th:each="penerbangan : ${listPenerbangan}" th:text="${penerbangan.nomorPenerbangan}" th:value="${penerbangan.id}"></option>
                    </select>
                </div>
                <button type="submit" class="btn btn-primary btn-sm">Tambah</button>
            </form>
        </div>
    </div>
    <div class="row">
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th style="text-align: center">No</th>
                    <th style="text-align: center">Nama</th>
                    <th style="text-align: center">Nomor Telepon</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="teknisi, iterationStatus : ${pesawat.listTeknisi}" style="text-align: center">
                    <td th:text="${iterationStatus.count}" style="text-align: center"></td>
                    <td th:text="${teknisi.nama}" style="text-align: center"></td>
                    <td th:text="${teknisi.nomorTelepon}" style="text-align: center"></td>
                </tr>
                </tbody>
            </table>
        </div>
        <div class="col">
            <table class="table">
                <thead class="thead-dark">
                <tr>
                    <th style="text-align: center">No</th>
                    <th style="text-align: center">Nomor Penerbangan</th>
                    <th style="text-align: center">Bandara Asal</th>
                    <th style="text-align: center">Bandara Tujuan</th>
                    <th style="text-align: center">Waktu Berangkat</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each="penerbangan, iterationStatus : ${pesawat.listPenerbangan}" style="text-align: center">
                    <td th:text="${iterationStatus.count}" style="text-align: center"></td>
                    <td th:text="${penerbangan.nomorPenerbangan}" style="text-align: center"></td>
                    <td th:text="${penerbangan.kodeBandaraAsal}" style="text-align: center"></td>
                    <td th:text="${penerbangan.kodeBandaraTujuan}" style="text-align: center"></td>
                    <td th:text="${penerbangan.waktuBerangkat}" style="text-align: center"></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
</body>
</html>