<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Detail Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
<nav th:replace="fragments/fragment :: navbar"></nav>
<div class="container-fluid">
    <div class="col-sm-4"></div>
    <div class="col-sm-4">
        <h2 style="text-align: center">Detail Pesawat</h2>
        <br>
        <h5 th:text="'Nomor Seri Pesawat     ' + ${pesawat.nomorSeri}"></h5>
        <h5 th:text="'Jenis Pesawat          ' + ${pesawat.jenisPesawat}"></h5>
        <h5 th:text="'Nomor Tipe Pesawat     ' + ${pesawat.tipe.nama}"></h5>
        <h5 th:text="'Maskapai               ' + ${pesawat.maskapai}"></h5>
        <h5 th:text="'Tempat Dibuat          ' + ${pesawat.tempatDibuat}"></h5>
        <h5 th:text="'Tanggal Dibuat         ' + ${pesawat.tanggalDibuat}"></h5>
        <br>
        <h4 style="text-align: center" th:text="'Daftar Teknisi Pesawat'"></h4>
        <table>
            <thead>
            <tr>
                <th>No</th>
                <th>Nama</th>
                <th>Nomor Telepon</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="pesawatTeknisi, iterationStatus : ${pesawat.listPesawatTeknisi}">
                <td th:text="${iterationStatus.count}"></td>
                <td th:text="${pesawat.teknisi.nama}"></td>
                <td th:text="${pesawat.teknisi.nomorTelepon}"></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>