<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Daftar Pesawat</title>
    <object th:include="fragments/fragment :: css" th:remove="tag"></object>
    <object th:include="fragments/fragment :: js" th:remove="tag"></object>
</head>
<body>
    <nav th:replace="fragments/fragment :: navbar"></nav>
    <h2>Daftar Pesawat</h2>
    <table class="table">
        <thead>
        <a th:href="@{/pesawat/tambah}"><button type="submit" class="btn btn-primary">+ Tambah Pesawat</button></a>
        <tr>
            <th>No</th>
            <th>Nomor Seri</th>
            <th>Tipe Pesawat</th>
            <th>Jenis Pesawat</th>
            <th>Maskapai</th>
            <th>Aksi</th>
        </tr>
        </thead>
        <tbody>
        <tr th:each="pesawat, iterationStatus : ${listPesawat}">
            <td th:text="${iterationStatus.count}"></td>
            <td th:text="${pesawat.nomorSeri}"></td>
            <td th:text="${pesawat.tipe.getNama()}"></td>
            <td th:text="${pesawat.jenisPesawat}"></td>
            <td th:text="${pesawat.maskapai}"></td>
            <td>
                <a th:href="@{/pesawat/}+${pesawat.id}"><button type="submit" class="btn btn-info">Lihat</button</a>
            </td>
            <td>
                <a th:href="@{/pesawat/ubah/}+${pesawat.id}"><button type="submit" class="btn btn-warning">Ubah</button</a>
            </td>
            <td>
                <a th:href="@{/pesawat/hapus/}+${pesawat.id}"><button type="submit" class="btn btn-danger">Delete</button</a>
            </td>
        </tr>
        </tbody>
    </table>
</body>
</html>